<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
		<link rel="stylesheet" type="text/css" href="../static/styles.css">
		<!-- <script src="<%= htmlWebpackPlugin.options.apiUrl %>" defer></script> -->
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFD4Z3wR2i8axVNVHHujDuJQqbNb4PmZg&callback=initMap&libraries=places&v=weekly" defer></script>
		<script src="../static/map.js"></script>
	</head>
	<body>
		<div class="col" id="navbar">
			<h1>FoodLink</h1>
			<h2>Map</h2>
			<h4>Stock</h4>
			<h4><a href="{{url_for('newpost')}}">Create Post</a></h4>
			<h4>Your Location</h4>
			<h4>Settings</h4>
			<a href="/logout"><h4>Logout</h4></a>
			<br /><br /><br />
			<p><small>Log in as pantry location</small></p>
		</div>
		<div class="col" id="map"></div>
		<div class="col" id="feed">
			<h3>{{user.username}}'s Community</h3>
			<p><small>Date</small></p>
			<div class="post">
				<div id="post-top">
					<img src="https://source.unsplash.com/random/500x500" id="photo">
					<p id="right">Name<br />Time</p>
				</div>
				<p>post-post-post-post-post-post post-post-post-post-post-post post-post-post-post-post-post </p>
				<div id="separator"></div>
			</div>
			<div class="post">
				<div id="post-top">
					<img src="https://source.unsplash.com/random/500x500" id="photo">
					<p id="right">Name<br />Time</p>
				</div>
				<p>post-post-post-post-post-post post-post-post-post-post-post post-post-post-post-post-post </p>
				<div id="separator"></div>
			</div>
			<div class="post">
				<div id="post-top">
					<img src="https://source.unsplash.com/random/500x500" id="photo">
					<p id="right">Name<br />Time</p>
				</div>
				<p>post-post-post-post-post-post post-post-post-post-post-post post-post-post-post-post-post </p>
				<div id="separator"></div>
			</div>
		</div>
		<!-- Welcome {{user}}! <br>
		<br>
		<a href="{{url_for('logout')}}">LOGOUT</a> -->
	</body>
</html>