<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
  </head>
  <body>
    <div class="col" id="navbar">
			<h1>FoodLink</h1>
			<h4><a href="home.html">Map</a></h4>
			<h4>Stock</h4>
			<h2>Create Post</h2>
			<h4>Your Location</h4>
			<h4>Settings</h4>
			<br /><br /><br />
			<p><small>Log in as pantry location</small></p>
    </div>
    <div class="col" id="create-post">
      <form>
        <label>
					What type of post is this?
					<select id="post-type">
						<option>Announcement</option>
						<option>Appreciation</option>
						<option>Donation</option>
					</select>
				</label>
      </form>
    </div>
    <div class="col" id="feed">
			<h3>Your Community</h3>
			<p><small>Date</small></p>
			<div class="post">
				<div id="post-top">
					<img src="https://source.unsplash.com/random/500x500" id="photo">
					<p id="right">Name<br />Time</p>
				</div>
				<p>other-post<br />other-post<br />other-post </p>
				<div id="separator"></div>
			</div>
			<div class="post">
				<div id="post-top">
					<img src="https://source.unsplash.com/random/500x500" id="photo">
					<p id="right">Name<br />Time</p>
				</div>
				<p>post-post-post-post-post-post post-post-post-post-post-post post-post-post-post-post-post </p>
				<div id="separator"></div>
			</div>
			<div class="post">
				<div id="post-top">
					<img src="https://source.unsplash.com/random/500x500" id="photo">
					<p id="right">Name<br />Time</p>
				</div>
				<p>post-post-post-post-post-post post-post-post-post-post-post post-post-post-post-post-post </p>
				<div id="separator"></div>
			</div>
		</div>
  </body>
</html>