<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
	<form action="/register" method="post">
		<label>Create a username: <input type="text" name="username" id=""></label>
		<label>Create a password: <input type="password" name="password0" id=""></label>
		<label>Repeat your password: <input type="password" name="password1" id=""></label>
		<br>
		what user type are you? <br>
		<input type="radio" id="0" name="type" value="user">
		<label for="male">Normal User</label><br>
		
		<input type="radio" id="1" name="type" value="orgo">
		<label for="1">Orgo</label><br>

		<button type="submit">SUBMIT</button>
	</form>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</body>
</html>